{% extends 'base.html.twig' %}

{% block title %}Accueil liste de voyages{% endblock %}

{% block body %}
    <h1>Liste de voyages</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam soluta doloribus officia itaque perspiciatis dolore voluptate repudiandae sed atque nisi nam ut amet veritatis corporis officiis qui et, eaque modi architecto vel? Quam itaque iure dolorum rem sunt qui beatae, veniam dicta nam nesciunt necessitatibus perspiciatis laboriosam dignissimos maxime, est in soluta officiis vero ipsa at repudiandae excepturi earum. Ratione tempore eveniet odio nostrum consequatur magni amet expedita temporibus sit voluptas repellendus quasi repellat maiores laudantium aperiam quo a eligendi voluptatibus error, voluptate quae aliquid alias dolorum. Dolores debitis modi, blanditiis tempore quibusdam eum vel ea autem cupiditate quod consectetur?</p>
{% endblock %}
