{% extends 'base.html.twig' %}

{% block title %}Formulaire d'ajout de destination{% endblock %}


{% block body %}
    <h1>Ajouter une destination</h1>
    {{ form_start(formView)}}
    {{ form_widget(formView)}}
    <input type="submit" value="Ajouter">
    {{ form_end(formView)}}

{% endblock %}
