{% extends 'base.html.twig' %}

{% block title %}Liste des destinations de voyages{% endblock %}

{% block body %}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ type }}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <p class="mb-0">{{ message }}</p>
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Liste des destinations</h1>
    <p class="text-end">Ajouter une destination <a href="{{ path('app_admin_destination_add')}}">➕</a></p>
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Pays</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for destination in destinations %}
            <tr class="table-active">
            <td>{{ destination.country }}</td>
            <td>✏️</td>
            <td>❌</td>
            </tr>
        {% endfor %}

    </tbody>
    </table>
{% endblock %}
