{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<h1>Espace administrateur</h1>
<a type="button" class="btn btn-primary" href="{{ path('app_admin_destination_index') }}">Gérer les destinations</a>
<a type="button" class="btn btn-info" href="{{ path('app_admin_category_index') }}">Gérer les catégories</a>

{% endblock %}
